*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.inicio{
  margin: 0%;
  padding: 0%;
  width: 90%;
}
.uno, .dos, .tres{
  float: left;
  margin: 0%;
  padding-left: 2%;
  width: 30%;
}
hr {
  visibility: hidden;
}
h2 {
  margin: 0%;
}
@media screen and (max-width:760px) {
.contenedor{
  width: 95%;
}
.inicio{
  margin: 0%;
  padding: 0%;
  width: 90%;
  height: auto;
}
.uno{
width: 30%;
}
.dos, .tres{
  width: 70%;
}
h2 {
  margin: 0%;
}

hr {
  visibility: hidden;
  margin: 0%;
}
ul{
  margin: 0%;
}
}
@media screen and (max-width:420px){
  .contenedor{
    width: 95%;
  }
  .inicio, .dos, .tres hr{
    margin-top: 0%;
  }
  .inicio,.uno, .dos, .tres{
    margin: 0%;
    padding: 0%;
    width: 70%;
    height: auto;
  }
  hr {
    visibility: visible;
    margin:0%;
  }
h2 {
  margin: 0%;
}
}
